@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;


}
html {
    display: block;
}

body {
    display: block;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
table, th, td {
  border:1px solid black;
}
table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
th, td {
  padding: 0.25rem;
}

th {
  background-color: white;
  position: sticky;
  top: 0;
}
a {
  color: #2d67b8;
  text-decoration: underline;
}


/* ol {
    list-style: decimal;
} */




li {
    display: list-item;
    unicode-bidi: isolate;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
@layer components {
  .frame {
    @apply bg-gray-50;
  }
}

input[type="file"] {
  font-family: inherit;
}

input[type="file"]::file-selector-button {
  padding: 3px 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #e5e5e5;
}